@*@using Newtonsoft.Json
@using WebApi.Models;


<link rel="stylesheet" href="~/css/CassettePage.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Delivery";
}

@model List<DeliveryView>

<div class="container">
    <a style="color: blue" class="nav-link" asp-area="" asp-controller="Delivery" asp-action="AddNewDelivery">Add new</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Product_ID</th>
                <th scope="col">Movie</th>
                <th scope="col">Quantity</th>
                <th scope="col">
                    <a style="opacity: 0">B</a>
                </th>
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                    foreach (var d in Model)
                    {
                        <tr scope="row" class="active">
                            <td>@d.id_delivery</td>
                            <td>@d.id_cassette</td>
                            <td>@d.name_movie</td>
                            <td>@d.qty</td>
                            <td>
                                <a style = "color: red" asp-controller="DeleteDelivery" asp-action="Delivery" asp-route-id="@d.id_delivery">Delete</a>
                            </td>
                        </tr>
                    }
            }
        </tbody>
    </table>
</div>
*@